body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/backgroundImg.png);
    color: #474747;
    background-repeat: no-repeat;
    background-size:cover;
}


footer {
    background-color: rgb(208, 21, 21);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2em;
    margin-top: 40px;
}

nav {
    padding: 0.1em;
    text-align: center;
    border: 1px solid #ccc;
    
      
    
  }
  nav a {
    margin: 0 60px;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
    border-left: 1px solid #ccc;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
   
  }



.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navLeft a,
.navRight a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.navLeft span,
.navRight span {
  color: #000;
  font-weight: bold;
}

.navLogo img {
  height: 80px;
  
}

.highLight {
  color: red;
}

.btn {
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}




.menu {
    padding: 40px 20px;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3px));
    gap: 20px;
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

.menuCard {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    height: 250px;
    width: 300px;
    text-align: center;

}

.menuCard img {
    width: 100%;
   display: block;
    height: auto;
    
    width: 100%;
    height: 63%;
    
   
}




.menuBar {
  display: flex;
  gap: 10px; /* puts space between items */
  padding: 10px 20px;
  background-color: transparent;
  white-space: nowrap;
  justify-content: center; /* makes it so the items stay in the center */
}

.menuItem {
  background-color: white;
  color: black;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  flex-shrink: 0; /* prevents items from shrinking */
}

.menuItem:hover {
  background-color: #bfb1b1;
  color: white;
}

